<ul class="sidebar-menu">
    <li class="treeview">
        <a href="#">
            Reports
            <i class="fa pull-right fa-angle-left"></i>
        </a>
        <ul class="treeview-menu active">
            <li class="active"><a href="{{absolute_url(path('sac_front_user_report_export_shops')) }}"><i class="fa fa-angle-double-right"></i> Export Shops</a></li>
            <li class="active"><a href="{{absolute_url(path('sac_front_user_report_without_sales')) }}"><i class="fa fa-angle-double-right"></i> Sales without user Report</a></li>
        </ul>
    </li>
</ul>
</br>
<ul class="sidebar-menu">
    <li class="treeview">
        <a href="#">
            SAC
            <i class="fa pull-right fa-angle-left"></i>
        </a>
        <ul class="treeview-menu active">
            <li class="active"><a href="{{absolute_url(path('sac_front_user')) }}"><i class="fa fa-angle-double-right"></i> Search users</a></li>
        </ul>
    </li>
</ul>
</br>
<ul class="sidebar-menu">
    <li class="treeview">
        <a href="#">
            Logs
            <i class="fa pull-right fa-angle-left"></i>
        </a>
        <ul class="treeview-menu active">
            <li class="active"><a href="{{absolute_url(path('search_logs')) }}"><i class="fa fa-angle-double-right"></i> Search logs</a></li>
        </ul>
    </li>
</ul>
</br>
<ul class="sidebar-menu">
    <li class="treeview">
        <a href="#">
             Finanzas
            <i class="fa pull-right fa-angle-left"></i>
        </a>
        <ul class="treeview-menu active">
            <li class="active"><a href="{{absolute_url(path('i_flair_lets_bonus_financial_list')) }}"><i class="fa fa-angle-double-right"></i> Finanzas</a></li>
        </ul>
    </li>
</ul>