{% extends '::base.html.twig' %}
{% block page_title %}
    - {{ cmsallhelp.title }}
{% endblock %}
{% block content %}
    <div class="container breadcrumb">
		<div class="row">
			<ul>
				<li><a title="Home" href="{{ url('i_flair_lets_bonus_front_homepage') }}">Home</a></li>
				<li class="active">{{ cmsallhelp.title }}</li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="ayuda_full">
				<div class="about-title ayuda_title">
					<h1>{{ cmsallhelp.title }}</h1>
				</div>
				<div class="about-content ayuda_wrapp">
					{# Below "| raw" is used for getting ckeditor value  #}
					{{ cmsallhelp.description | raw }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
