<!doctype html>
<html lang="{{ app.request.getLocale() }}">
<head>
<meta charset="utf-8" />
<title>Shoppiday - Recuperar tu contraseña</title>
<meta name="viewport" content ="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=0, user-scalable=no" />
<meta name="format-detection" content="telephone=no">
<style type="text/css">
  @media handheld, only screen and (max-width: 600px) {
    table {
      width: 100%;
    }
    td {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  } 
</style>
</head>
<body style="margin: 0 0 0 0;padding: 0 0 0 0;">
<table width="600" border="0" cellspacing="0" align="center" style="margin: 0 auto;">
  <tr>
    <td style="padding: 20px 15px 0 15px;" align="center">
      <a href="{{ app.request.getSchemeAndHttpHost() }}">
      	<img src="{{absolute_url(asset('bundles/iflairletsbonusfront/images/new_logo1.png'))}}" />
      </a>
    </td>
  </tr>
  <tr>
    <td style="padding: 35px 15px 0 15px; font-family: arial;color:#0099A9; font-size: 17px; line-height: 22px;" align="center">
      Si has solicitado recuperar tu contraseña, haz clic en el siguiente enlace:
    </td>
  </tr>
    <tr>
    <td style="padding: 15px 15px 10px 15px;font-family: arial;color:#FF483F; font-size: 22px; line-height: 26px; font-weight: bold;" align="center">
      <a style="text-decoration: underline;color:#FF483F;font-size: 16px;" href="{{absolute_url(path('i_flair_lets_bonus_front_reset_forgot_password', {'token': token})) }}">
        {{absolute_url(path('i_flair_lets_bonus_front_reset_forgot_password', {'token': token})) }}
      </a>
    </td>
  </tr>
  <tr>
    <td style="padding: 15px 15px 52px 15px; color:#717271; font-family: arial;  font-size: 16px; line-height: 24px;" align="center">
      Si no has solicitado tu contraseña, por favor elimina este email. 
    </td>
  </tr>
  <tr>
    <td align="center" style="background-color:#717171; border-top: 3px solid #FE4C41;">
        {% include "iFlairLetsBonusFrontBundle:Email:legal.footer.html.twig" %}
    </td>
  </tr>
</table>
</body>
</html>