<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content ="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=0, user-scalable=no" />
<meta name="format-detection" content="telephone=no">
<style type="text/css">
  @media handheld, only screen and (max-width: 600px) {
    table {
      width: 100%;
    }
    td {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
    td img.banner_img {
      width: 100%;
    }
  } 
</style>
</head>

<body style="margin: 0 0 0 0;padding: 0 0 0 0;">
<table width="600" border="0" cellspacing="0" align="center" bgcolor="" style="margin: 0 auto;">
  <tr>
    <td style="padding: 20px 15px 0 15px;" align="center">
      <a href="{{ url('i_flair_lets_bonus_front_homepage') }}">      
        <img src="{{absolute_url(asset('bundles/iflairletsbonusfront/images/new_logo1.png'))}}" />
      </a>
    </td>
  </tr>
  <tr>
    <td style="padding: 15px 15px 0 15px; font-family: arial;color:#0099A9; font-size: 20px; line-height: 26px;" align="center">
      Hola {{ name }},
    </td>
  </tr>
  <tr>
    <td style="padding: 10px 15px 20px 15px; font-family: arial;color:#717271; font-size: 16px; line-height: 23px;" align="center">
      Desde <b>{{ shopname }}</b> nos acaban de notificar sobre tu última compra. <br/><b>¡Esperamos que la disfrutes!</b>.
    </td>
  </tr>
  <tr>
    <td style="padding: 0px 15px 0 15px;" align="center">
      <img class="banner_img" src="{{ shopimage }}" />
    </td>
  </tr>
  <tr>
    <td style="padding: 15px 15px 0 15px; color:#717271; font-family: arial;  font-size: 16px; line-height: 24px;" align="center">
      En cuanto se confirme el Cashback vinculado a esta compra te <br/>
ingresaremos <b>{{ amount }}{{ currency }}</b>.<br/><br/>

Puedes comprobar el estado de tu compra en la zona de usuario.
    </td>
  </tr>
  <tr>
    <td style="padding: 15px 15px 52px 15px;font-family: arial;color:#FF483F; font-size: 18px; line-height: 26px; font-weight: bold;" align="center">
      ¡Gracias por confiar en Shoppiday!
    </td>
  </tr>
  <tr>
    <td align="center" style="background-color:#717171; border-top: 3px solid #FE4C41;">
        {% include "iFlairLetsBonusFrontBundle:Email:legal.transactional.footer.html.twig" %}
    </td>
  </tr>
</table>
</body>
</html>

