{% extends '::base.html.twig' %}
{% block page_title %}
  {% set currentPath = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) %}
  {% set basePath =  app.request.getBaseURL() %}
  {% if currentPath != basePath~"/categorias" %}
    {% if parent_slug_name is not empty and middle_slug_name is empty and child_slug_name is empty%}
      - {{ parent_slug_name }}
    {% elseif middle_slug_name is not empty and child_slug_name is empty%}
      - {{ parent_slug_name }} {{ middle_slug_name }}
    {% elseif child_slug_name is not empty %}
      - {{ parent_slug_name }} {{ middle_slug_name }} {{ child_slug_name }}
    {% endif %}
  {% else %}
    - Categorías
  {% endif %}
{% endblock %}
{% block content %}
{% set currentPath = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) %}
{% set basePath =  app.request.getBaseURL() %}
{% set user_id = app.session.get('user_id') %}
<script type="text/javascript">
    var basePath = "{{basePath}}";
    var currentPath =   "{{currentPath}}";
     
    var parentCategory = "{{app.request.get('parent_category')}}";
    var category = "{{app.request.get('category')}}";
    var childCategory = "{{app.request.get('child_category')}}";

    if(parentCategory !== null && category === '' && childCategory === '')
    {
      pageCategory = parentCategory;
    }
    else if (parentCategory !== null && category !== null && childCategory === '') 
    {
      pageCategory = category;
    }
    else if (parentCategory !== null && category !== null && childCategory !== null) 
    {
      pageCategory = childCategory;
    }
    else
    {
      pageCategory = 'categorias';
    }   
   /* var urlVariable = currentUrl[1];
    if(urlVariable == 'categorias')
    {*/
      dataLayer = [{
                'pageSection': 'categorias',
                'pageType' : "category",
                'pageCategory' : pageCategory,
                'pageLang' : 'es',
                'userId': "{{user_id}}",
                }];
    //}

    /*var info = {{ category_detail|json_encode|raw }};*/
    var info ='';
    var id ="{{ app.request.get('parent_category') }}";
    var url = currentPath;
    var addtofevlist = {{addtofevlist|json_encode|raw}};
    var target_count = {{ target_count }};
    var execute_count = {{ execute_count }};
    loadCategoryFilter(info,id,url,addtofevlist,target_count,basePath,execute_count);

</script>
{% set user_id = app.session.get('user_id') %}
{% set tabType = constant('iFlair\\LetsBonusFrontBundle\\Entity\\Constants::CATAGORY_TAB_TYPE') %}
{% set tabId = constant('iFlair\\LetsBonusFrontBundle\\Entity\\Constants::CATAGORY_TAB_id') %}
{% set tabPosition = constant('iFlair\\LetsBonusFrontBundle\\Entity\\Constants::CATAGORY_TAB_POSITION') %}
<div class="container breadcrumb">
     <div class="row">
          <ul>
               <li><a href="{{ url('i_flair_lets_bonus_front_homepage') }}" title="Home">Home</a></li>
              {% if currentPath != basePath~"/categorias" %}
                      <li><a href="{{ url('i_flair_lets_bonus_front_category') }}" title="Categorías">Categorías</a></li>
                      {% if parent_slug_name is not empty and middle_slug_name is empty and child_slug_name is empty%}

                        <li class="active">{{ parent_slug_name }}</li>

                      {% elseif middle_slug_name is not empty and child_slug_name is empty%}
  <li><a href="{{absolute_url(path('i_flair_lets_bonus_front_category_slug', {'parent_category': app.request.get('parent_category') })) }}" title="{{ parent_slug_name }}">{{ parent_slug_name }}</a></li>
                          <li class="active">{{ middle_slug_name }}</li>

                       {% elseif child_slug_name is not empty %}
 <li><a href="{{absolute_url(path('i_flair_lets_bonus_front_category_slug', {'parent_category': app.request.get('parent_category') })) }}" title="{{ parent_slug_name }}">{{ parent_slug_name }}</a></li>

  <li><a href="{{absolute_url(path('i_flair_lets_bonus_front_middle_category_slug', {'parent_category': app.request.get('parent_category') , 'category' :   app.request.get('category')})) }}" title="{{ middle_slug_name }}">{{ middle_slug_name }}</a></li>

                          <li class="active">{{ child_slug_name }}</li>
                      {%else%}

                      {% endif %}
                {%else%}
                    <li  class="active">Categorías</li>
                {% endif %}

          </ul>
     </div>
</div>

{% if cat_image is defined%}
  {% if cat_image is not empty%}
<div class="container category-banner">
     <div class="row">
          <div class="category-banner-image">
               <img src="{{cat_image}}" alt="">
          </div>
     </div>
</div>
  {% endif %}
{% endif %}

<div class="container category-banner-bottom">
     <div class="row">
          <div class="category-banner-bottom-inner">               
              {% if banner_title is defined%}
                  {% if banner_title is not empty%}
                      <h1>
                          {% if banner_title |length > 75 %}
                              {% autoescape %}
                                  {{ banner_title|striptags|truncate(75, true, "...")|raw }}
                              {% endautoescape %}
                          {% else %}
                              {% autoescape %}
                                  {{ banner_title|striptags|raw  }}
                              {% endautoescape %}
                          {% endif %}
                      </h1>
                  {% endif %}
              {% endif %}               

              {% if banner_description is defined%}
                  {% if banner_description is not empty%}
                      <div class= "banner_description">
                          {% if banner_description |length > 300 %}
                              {% autoescape %}
                                  <div class="more_banner_description">{{ banner_description|striptags|raw }}...</div>
                              {% endautoescape %}
                          {% else %}
                              {% autoescape %}
                                  {{ banner_description|striptags|raw  }}
                              {% endautoescape %}
                          {% endif %}
                      </div>
                  {% endif %}
              {% endif %}
               <div class="category-banner-bottom-wrapper">
                    <div class="category-sidebar">
                       {{ render(controller(
                            'iFlairLetsBonusFrontBundle:Category:getMenuCategory',{"cate_page": 'cate_page','current_path': 'category'  }
                            )) }}

                         {{ render(controller(
								'iFlairLetsBonusFrontBundle:Collection:getSepcialCollection',{"position": "category-sidebar" }
							))
						}}
{#                         <div class="sidebar-promotion">
                              <div class="category-sidebar-title">
                                   Tipo de promoción
                              </div>
                              <div class="category-checkbox">
                                   <label class="active">Cashback</label>
                                   <label class="active">Cupones</label>
                                   <label class="active">Ofertas</label>
                              </div>
                         </div>#}
                         <div class="brand-alpha-order">
                              <div class="category-sidebar-title">
                                   Marca por orden alfabético
                              </div>
                              <div class="brand-alpha-order-inner">
                                   <span>A</span>
                                   <span>B</span>
                                   <span>C</span>
                                   <span>D</span>
                                   <span>E</span>
                                   <span>F</span>
                                   <span>G</span>
                                   <span>H</span>
                                   <span>I</span>
                                   <span>J</span>
                                   <span>K</span>
                                   <span>L</span>
                                   <span>M</span>
                                   <span>N</span>
                                   <span>O</span>
                                   <span>P</span>
                                   <span>Q</span>
                                   <span>R</span>
                                   <span>S</span>
                                   <span>T</span>
                                   <span>U</span>
                                   <span>V</span>
                                   <span>W</span>
                                   <span>X</span>
                                   <span>Y</span>
                                   <span>Z</span>
                                   <span>0-9</span>
                                   <span class= "active" >TODAS</span>
                              </div>
                         </div>
                          {% include 'iFlairLetsBonusFrontBundle:Homepage:subscription.html.twig' %}
                    </div>
                    <div class="category-sidebar-right">
                      {% if max_voucher_cashback is not empty or max_cashback_percentage is not empty or max_voucher_data is not empty %}
                         <div class="category-rightbar-top">
                              <div class="category-rightbar-inner">
                                {% if max_voucher_cashback is not empty %}
                                  {% if max_voucher_cashback.top_shop_image is defined and max_voucher_cashback.top_shop_image is not empty %}
                                  <div class="category-rightbar-block">
                                      <div class="category-rightbar-block-image">
                                        {% if max_voucher_cashback.slug_name is defined %}
                                          <a href ="{{absolute_url(path('marcas_view', {'slug_name': max_voucher_cashback.slug_name})) }}">
                                            <img src="{{ max_voucher_cashback.top_shop_image }}" alt="">
                                          </a>
                                        {%else %}
                                          <img src="{{ max_voucher_cashback.top_shop_image }}" alt="">
                                        {% endif %}                                        
                                        <div class="category-rightbar-block-text">
                                          <div class="inner-transperent">
                                            <div class="inner-transperent-logo">
                                              {% if max_voucher_cashback.slug_name is defined %}
                                                <a href ="{{absolute_url(path('marcas_view', {'slug_name': max_voucher_cashback.slug_name})) }}">
                                                  <img src="{{ max_voucher_cashback.brand_logo }}" alt="">
                                                </a>
                                              {%else %}
                                                <img src="{{ max_voucher_cashback.brand_logo }}" alt="">
                                              {% endif %}
                                            </div>
                                            <div class="inner-transperent-text">
                                              <div class="inner-transperent-text-left">
                                                <p>{{ max_voucher_cashback.letsBonusPercentage }}% </p>
                                                <span>Cashback</span>
                                              </div>
                                              <div class="inner-transperent-text-right">
                                                <span>{{ max_voucher_cashback.voucher_code_count }}</span>
                                                <p>Ofertas y<br>
                                                  Cupones </p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>                                    
                                   </div>
                                  {% endif %}
                                  {% endif %}
                                  {% if max_cashback_percentage is not empty %}
                                    {% if max_cashback_percentage.top_shop_image is defined and max_cashback_percentage.top_shop_image is not empty %}
                                    <div class="category-rightbar-block">
                                        <div class="category-rightbar-block-image">
                                           {% if max_cashback_percentage.slug_name is defined %}
                                            <a href ="{{absolute_url(path('marcas_view', {'slug_name': max_cashback_percentage.slug_name})) }}">
                                                <img src="{{ max_cashback_percentage.top_shop_image }}" alt="">
                                            </a>
                                             {%else %}
                                                <img src="{{ max_cashback_percentage.top_shop_image }}" alt="">
                                            {% endif %}
                                            <div class="category-rightbar-block-text">
                                                 <div class="inner-transperent">
                                                      <div class="inner-transperent-logo">

                                                        {% if max_cashback_percentage.slug_name is defined %}
                                                          <a href ="{{absolute_url(path('marcas_view', {'slug_name': max_cashback_percentage.slug_name})) }}">
                                                              <img src="{{ max_cashback_percentage.brand_logo }}" alt="">
                                                          </a>
                                                           {%else %}
                                                               <img src="{{ max_cashback_percentage.brand_logo }}" alt="">
                                                          {% endif %}
                                                      </div>
                                                      <div class="inner-transperent-text">
                                                           <div class="inner-transperent-text-middle">
                                                                <p>{{ max_cashback_percentage.letsBonusPercentage }}%</p><br>
                                                                <span>Cashback</span>
                                                           </div>
                                                      </div>
                                                 </div>
                                            </div>
                                        </div>                                       
                                   </div>
                                   {% endif %}
                                   {% endif %}
                                   {% if max_voucher_data is not empty %}
                                   {% if max_voucher_data.top_shop_image is defined and max_voucher_data.top_shop_image is not empty %}
                                   <div class="category-rightbar-block">
                                        <div class="category-rightbar-block-image">
                                            {% if max_voucher_data.slug_name is defined %}
                                              <a href ="{{absolute_url(path('marcas_view', {'slug_name': max_voucher_data.slug_name})) }}">
                                                  <img src="{{ max_voucher_data.top_shop_image }}" alt="">
                                              </a>
                                               {%else %}
                                                    <img src="{{ max_voucher_data.top_shop_image }}" alt="">
                                              {% endif %}
                                              <div class="category-rightbar-block-text">
                                                   <div class="inner-transperent">
                                                    <div class="inner-transperent-logo">
                                                       {% if max_voucher_data.slug_name is defined %}
                                                        <a href ="{{absolute_url(path('marcas_view', {'slug_name': max_voucher_data.slug_name})) }}">
                                                            <img src="{{ max_voucher_data.brand_logo }}" alt="">
                                                        </a>
                                                         {%else %}
                                                            <img src="{{ max_voucher_data.brand_logo }}" alt="">
                                                        {% endif %}
                                                    </div>
                                                        <div class="inner-transperent-text">
                                                             <div class="inner-transperent-text-middle">
                                                                  <p>{{ max_voucher_data.voucher_code_count }}</p>
                                                                  <span>Ofertas y<br>
                                                                    Cupones </span>
                                                             </div>
                                                        </div>
                                                   </div>
                                              </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endif %}
                              </div>
							         <div class="main-img-slider">
                            <div id="owl-demo">
                              {% if max_voucher_cashback is not empty %}
                              {% if max_voucher_cashback.top_shop_image is defined and max_voucher_cashback.top_shop_image is not empty %}
                              <div class="item">                              
                              <div class="category-rightbar-block">                                    
                                        <div class="category-rightbar-block-image">
                                             <img src="{{ max_voucher_cashback.top_shop_image }}" alt="">
                                        </div>
                                        <div class="category-rightbar-block-text">
                                             <div class="inner-transperent">
                                                  <div class="inner-transperent-logo">
                                                       <img src="{{ max_voucher_cashback.brand_logo }}" alt="">
                                                  </div>
                                                  <div class="inner-transperent-text">
                                                       <div class="inner-transperent-text-left">
                                                            <p>{{ max_voucher_cashback.letsBonusPercentage }}% </p>
                                                            <span>Cashback</span>
                                                       </div>
                                                       <div class="inner-transperent-text-right">
                                                            <span>{{ max_voucher_cashback.voucher_code_count }}</span>
                                                            <p>Ofertas y<br>
                                                              Cupones </p>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>                                      
                                   </div>                                   
                                </div>
                                {% endif %}
                                {% endif %}
                                {% if max_cashback_percentage is not empty %}
                                {% if max_cashback_percentage.top_shop_image is defined and max_cashback_percentage.top_shop_image is not empty %}
                              <div class="item">                                
                                  <div class="category-rightbar-block">
                                        <div class="category-rightbar-block-image">
                                             <img src="{{ max_cashback_percentage.top_shop_image }}" alt="">
                                        </div>
                                        <div class="category-rightbar-block-text">
                                             <div class="inner-transperent">
                                                  <div class="inner-transperent-logo">
                                                       <img src="{{ max_cashback_percentage.brand_logo }}" alt="">
                                                  </div>
                                                  <div class="inner-transperent-text">
                                                       <div class="inner-transperent-text-middle">
                                                            <p>{{ max_cashback_percentage.letsBonusPercentage }}%</p><br>
                                                            <span>Cashback</span>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>                                       
                                   </div>                                   
                              </div>
                              {% endif %}
                              {% endif %}
                              {% if max_voucher_data is not empty %}
                              {% if max_voucher_data.top_shop_image is defined and max_voucher_data.top_shop_image is not empty %}
                              <div class="item">                                
                                  <div class="category-rightbar-block">
                                        <div class="category-rightbar-block-image">
                                             <img src="{{ max_voucher_data.top_shop_image }}" alt="">
                                        </div>
                                        <div class="category-rightbar-block-text">
                                             <div class="inner-transperent">
                                                  <div class="inner-transperent-logo">
                                                       <img src="{{ max_voucher_data.brand_logo }}" alt="">
                                                  </div>
                                                  <div class="inner-transperent-text">
                                                       <div class="inner-transperent-text-middle">
                                                            <p>{{ max_voucher_data.voucher_code_count }}</p>
                                                            <span>Ofertas y<br>
                                                              Cupones </span>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>                                   
                                </div>
                                {% endif %}
                                {% endif %}
                            </div>
                          </div>

						             </div>
                         {% endif %}
                          <div id ="category_data_ajax">
                               <div class="category-rightbar-bottom">
                                    <div class="main-category-post-block">
                                         <div class="main-category-post-promo">
                                              <div class="main-category-post-promo-left">
                                                   {#<span>Mostrando {{category_detail|length}} promociones</span>#}
                                              </div>
                                             <div class="sub-top-tp">
                                                 <span class="sub-top-tp-tipo">Tipo</span>
                                             </div>
                                             <div class="main-category-post-promo-right">
                                                 {#<span>Mostrando {{category_detail|length}} promociones</span>#}
                                                 {#<span>Mostrar como:</span>
                                                   <select>
                                                         <option></option>
                                                         <option>Cashback</option>
                                                         <option>Cupones</option>
                                                         <option>Ofertas</option>
                                                   </select>#}
                                              </div>
                                              <div class="main-category-post-promo-right-1">
                                                   {#<span>Mostrando {{category_detail|length}}  promociones</span>#}
                                              </div>
                                              <div class="sub-check-box">
                                                <div class="chech-box-2">
                                                  <input id="option" type="checkbox" >
                                                  <label class="checkbox" for="option">Cashback</label>
                                                  <input id="option1" type="checkbox" >
                                                  <label class="checkbox" for="option1">Cupones</label>
                                                  <input id="option2" type="checkbox" >
                                                  <label class="checkbox" for="option2">Ofertas</label>
                                                </div>
                                              </div>
                                         </div>
                                         <div class="main-category-post-promo-bottom">
                                         {% if category_detail is not empty%}
                                         <input type="hidden" id="category_section_counter" value="1" />
                                          {% set sectionGroupItems      = 10 %}
                                          {% set shopSectionDivCreated  = "false" %}
                                          {% set productsectionCounter     = 0 %}
                                          {% set counter                = 0 %}
                                          {% set counter1                = 0 %}
                                            {% set i = 1%}
                                           {% for category in category_detail %}

                                            {% if productsectionCounter  == 1 %}
                                                {% set sectionGroupItems = 12 %}
                                                      {% if counter%sectionGroupItems == 0 and shopSectionDivCreated == "true" %}
                                                        {% set shopSectionDivCreated = "false" %}
                                                        </div>
                                                      {% endif %}
                                                        {% if counter%sectionGroupItems == 0 and shopSectionDivCreated == "false" %}
                                                        {% set productsectionCounter = productsectionCounter+1 %}
                                                        {% set shopSectionDivCreated = "true" %}
                                                        <div style="display:none;"  id="category_section_{{ productsectionCounter }}">
                                                      {% endif %}
                                            {% else %}
                                                 {% set sectionGroupItems = 10%}
                                                      {% if counter1%sectionGroupItems == 0 and shopSectionDivCreated == "true" %}
                                                        {% set shopSectionDivCreated = "false" %}
                                                        </div>
                                                      {% endif %}
                                                        {% if counter1%sectionGroupItems == 0 and shopSectionDivCreated == "false" %}
                                                        {% set productsectionCounter = productsectionCounter+1 %}
                                                        {% set shopSectionDivCreated = "true" %}
                                                        <div style="display:none;"  id="category_section_{{ productsectionCounter }}">
                                                      {% endif %}
                                            {% endif %}

                                              <div class="category-blog-main">
                                                <div class="category-blog-main-left">
                                                      <div class="category-blog-main-left-image">
                                                            {% if category.slug_name is defined %}
                                                                <a href ="{{absolute_url(path('marcas_view', {'slug_name': category.slug_name})) }}">
                                                                    <img src="{{ category.shop_image|default('') }}" alt="">
                                                                </a>
                                                                 {%else %}
                                                                     <img src="{{ category.shop_image|default('') }}" alt="">
                                                                {% endif %}
                                                       </div>
                                                      <span>
                                                         {% if category.slug_name is defined %}
                                                            <a href ="{{absolute_url(path('marcas_view', {'slug_name': category.slug_name})) }}">
                                                               <img alt="" src="{{ category.brand_logo|default('') }}">
                                                            </a>
                                                             {%else %}
                                                               <img alt="" src="{{ category.brand_logo|default('') }}">
                                                          {% endif %}
                                                      </span>
                                                </div>
                                                              <div class="category-blog-main-right">
                                                                    {% if category.cashback_type_value is defined%}
                                                                      {% if category.cashback_type_value is not empty%}
                                                                        <label>
                                                                          {{ category.cashback_type_value }}
                                                                        </label>
                                                                      {% else %}
                                                                        <label class="no-tag-label">&nbsp;</label>
                                                                      {%endif%}
                                                                    {% else %}
                                                                      <label class="no-tag-label">&nbsp;</label>
                                                                    {%endif%}
                                  <div class="category-blog-main-right-middle">
                                      <div class="blog-main-right-middle-lft">
                                        {#{%if category.exclusive == 0 %}
                                           <label>
                                            #}{#<!--   <div class="category-rating-box">
                                                  <div style="width:{{category.rating}}%;" class="category-rating"></div>
                                              </div>({{category.rating}}) -->
                                               <!--  <img src="{{absolute_url(asset('bundles/iflairletsbonusfront/images/star-image.png'))}}" /> -->#}{#
                                           </label>
                                         {%endif%}#}
                                      <div class="cupp-cut">
                                        <div class="cupp-cut-img">
                                            {%if category.shop_type == 'coupon'%}
                                              <img src="{{absolute_url(asset('bundles/iflairletsbonusfront/images/cut-ic-small.jpg'))}}" alt="Cupón" title="Cupón">
                                            {% elseif category.shop_type == 'oferta'%}
                                              <img src="{{absolute_url(asset('bundles/iflairletsbonusfront/images/discount.png'))}}" alt="descuento" title="descuento">
                                            {% elseif category.shop_type == 'cashback'%}
                                              <img src="{{absolute_url(asset('bundles/iflairletsbonusfront/images/hand-symbol.jpg'))}}" alt="cashback" title="cashback">
                                            {%endif%}
                                        </div>

                                          {% if category.slug_name is defined %}
                                              <a href="{{ absolute_url(path('marcas_view', {'slug_name': category.slug_name})) }}">
                                                <span>
                                                {% if category.shop_type == 'coupon' %}
                                                    {% if category.brand_name is defined %}
                                                        {% if category.brand_name is not empty %}
                                                            Cupón descuento {{ category.brand_name }}:
                                                        {% endif %}
                                                    {% endif %}
                                                {% elseif category.shop_type == 'oferta' %}
                                                    {% if category.brand_name is defined %}
                                                        {% if category.brand_name is not empty %}
                                                            Oferta {{ category.brand_name }}:
                                                        {% endif %}
                                                    {% endif %}
                                                {% elseif category.shop_type == 'cashback' %}
                                                    {% if category.brand_name is defined %}
                                                        {% if category.brand_name is not empty %}
                                                            Cashback {{ category.brand_name }}:
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                                </span>
                                              </a>
                                          {% else %}
                                                <span>
                                                {%if category.shop_type == 'coupon'%}
                                                    {%if category.brand_name is defined %}
                                                        {%if category.brand_name is not empty %}
                                                            Cupón descuento {{ category.brand_name }}:
                                                        {%endif%}
                                                    {%endif%}
                                                {% elseif category.shop_type == 'oferta'%}
                                                    {%if category.brand_name is defined %}
                                                        {%if category.brand_name is not empty %}
                                                            Oferta {{ category.brand_name }}:
                                                        {%endif%}
                                                    {%endif%}
                                                {% elseif category.shop_type == 'cashback'%}
                                                    {%if category.brand_name is defined %}
                                                        {%if category.brand_name is not empty %}
                                                            Cashback {{ category.brand_name }}:
                                                        {%endif%}
                                                    {%endif%}
                                                {%endif%}
                                                </span>
                                          {% endif %}
{#                                         <!--  {%if category.shop_offers == 'voucher'%}
                                          {{ category.voucher_name }}:
                                          {%endif%}
                                          {%if category.shop_offers == 'cashback'%}
                                           {{ category.shop_history_shop_title }}:
                                          {%endif%} -->#}
                                      </div>
                                      <p>
                                          {% if category.shop_offers == 'offer' %}
                                              {% if category.shop_history_shop_title |length > 100 %}
                                                  {% autoescape %}
                                                      {{ category.shop_history_shop_title|striptags|truncate(100, true, "...")|raw }}
                                                  {% endautoescape %}
                                              {% else %}
                                                  {% autoescape %}
                                                      {{ category.shop_history_shop_title|striptags|raw }}
                                                  {% endautoescape %}
                                              {% endif %}
                                          {% endif %}
                                          {% if category.shop_offers == 'voucher' %}
                                              {% if category.shop_history_shop_title |length > 100 %}
                                                  {% autoescape %}
                                                      {{ category.shop_history_shop_title|striptags|truncate(100, true, "...")|raw }}
                                                  {% endautoescape %}
                                              {% else %}
                                                  {% autoescape %}
                                                      {{ category.shop_history_shop_title|striptags|raw }}
                                                  {% endautoescape %}
                                              {% endif %}
                                          {% endif %}
                                          {% if category.shop_offers == 'cashback'  or category.shop_offers == 'cashback/coupons' %}
                                              {% if category.shop_history_shop_title|length > 100 %}
                                                  {% autoescape %}
                                                      {{ category.shop_history_shop_title|striptags|truncate(100, true, "...")|raw }}
                                                  {% endautoescape %}
                                              {% else %}
                                                  {% autoescape %}
                                                      {{ category.shop_history_shop_title|striptags|raw }}
                                                  {% endautoescape %}
                                              {% endif %}
                                          {% endif %}
                                        </p>
                                      <div class="cupp-cut-btm fl">
                                        <div class="cupon-time">
                                         {%if category.shop_offers == 'voucher' or  category.shop_offers == 'offer'%}
                                          {% if category.voucher_expire_date is not empty%}
                                              <img alt="" src="{{absolute_url(asset('bundles/iflairletsbonusfront/images/time-ic.jpg'))}}">
                                              <span>Válido hasta {{ category.voucher_expire_date }}</span>                                            
                                          {% endif %}
                                         {% endif %}
                                        </div>
                                          <div class="cupon-option-fr">
                                            <span><a class="cupon-option-condition" href="javascript:void(0);">Condiciones</a></span>
                                          </div>
                                            <!--TO-DO :: Make following condition dynamic-->
                                        <div class="cup-box">
                                         {%if category.shop_offers == 'offer'%}
                                            <div class="cupon-list-box">
                                              {% if category.description is defined%}
                                               {% if category.description is not empty%}
                                               <h6>Condiciones:</h6>
                                                <ul>
                                                 <li>
                                                  {% autoescape %}
                                                    {{ category.description|raw  }}
                                                  {% endautoescape %}

                                                 </li>
                                                </ul>
                                                {% endif %}
                                                {% endif %}
                                            </div>
                                         {% endif %}
                                         {%if category.shop_offers == 'voucher'%}
                                            <div class="cupon-list-box">
                                              {% if category.description is defined%}
                                               {% if category.description is not empty%}
                                               <h6>Condiciones:</h6>
                                                <ul>
                                                 <li>
                                                  {% autoescape %}
                                                    {{ category.description|raw  }}
                                                  {% endautoescape %}

                                                 </li>
                                                </ul>
                                                {% endif %}
                                                {% endif %}
                                            </div>
                                         {% endif %}
                                        {%if category.shop_offers == 'cashback'  or category.shop_offers == 'cashback/coupons'%}
        																	{% if category.shop_history_variation is defined%}
                                            {% if category.shop_history_variation is not empty%}
                                                <div class="cup-title">
                                                  <h6>Cashback en esta tienda:</h6>
                                                </div>

                                                <div class="cup-text">
                                                 {% for variation in category.shop_history_variation %}
                                                     {% if "%" in variation.number or "€" in variation.number %}
                                                     <p><span>{{variation.number}}</span>{{variation.title}}</p>
                                                     {% else %}
                                                     <p><span>{{variation.number}}%</span>{{variation.title}}</p>
                                                     {% endif %}
                                                  {% endfor %}
                                                </div>
                                            {% endif %}
                                            {% endif %}
        																		<div class="cupon-list-box">
                                              {% if category.shop_terms is defined%}
                                               {% if category.shop_terms is not empty%}
        																			 <h6>Condiciones:</h6>
          																			<ul>
          																			 <li>
                                                  {% autoescape %}
                                                    {{ category.shop_terms|raw  }}
                                                  {% endautoescape %}

                                                 </li>
          																			</ul>
                                                {% endif %}
                                                {% endif %}
        																		</div>
                                        {% endif %}
  																	  </div>
                                      </div>
                                      <div class="image-btn-suer-coupon">
                                         {%if category.shop_offers == 'offer'%}
                                          {%if category.voucher_code is defined %}
                                            <a href="javascript:void(0);" title="Usar cupón" onclick="offerGenerate('{{category.shop_id}}','{{category.shop_history_id}}','{{category.shop_offers}}','{{ tabType }}','{{ tabId }}','{{ i }}','{{absolute_url(path('i_flair_lets_bonus_front_clicks')) }}','{{category.shop_affiliate_url}}','{{user_id}}',event, '{{ category.brand_logo_popup }}', '{{ category.voucher_code }}', '{{ category.default_track_uri }}', '{{ category.voucher_program_name }}', '{{ category.discount_amount }}', '{{ category.is_percentage }}', '{{ category.voucher_expire_date }}');
                                              dataLayerAction(1,'{{category.shop_affiliate_url}}','{{ category.discount_amount }}','{{ category.discount_amount }}','{{ category.discount_amount }}','{{ category.brand_id }}','{{ category.discount_amount }}','{{ category.brand_name|escape('js') }}','{{ category.shop_history_shop_title|escape('js') }}');
                                            ">
                                                    Ver oferta
                                            </a>
                                          {% endif %}                                                    
                                         {%endif%}

                                         {%if category.shop_offers == 'voucher'%}
                                          {%if category.voucher_code is defined %}
                                            {%if category.voucher_code is not empty %}
                                                <a href="javascript:void(0);" title="Usar cupón" onclick="cuponGenerate('{{category.shop_id}}','{{category.shop_history_id}}','{{category.shop_offers}}','{{ tabType }}','{{ tabId }}','{{ i }}','{{absolute_url(path('i_flair_lets_bonus_front_clicks')) }}','{{category.shop_affiliate_url}}','{{user_id}}',event, '{{ category.brand_logo_popup }}', '{{ category.voucher_code }}', '{{ category.default_track_uri }}', '{{ category.voucher_program_name }}', '{{ category.discount_amount }}', '{{ category.is_percentage }}', '{{ category.voucher_expire_date }}');
                                                 dataLayerAction(1,'{{category.shop_affiliate_url}}','{{ category.discount_amount }}','{{ category.discount_amount }}','{{ category.discount_amount }}','{{ category.brand_id }}','{{ category.discount_amount }}','{{ category.brand_name|escape('js') }}','{{ category.shop_history_shop_title|escape('js') }}');
                                                " class="coupon-tail">
                                                   Usar Cupón
                                                </a>
                                            {% else %}
                                                <a href="javascript:void(0);" title="Usar cupón" onclick="offerGenerate('{{category.shop_id}}','{{category.shop_history_id}}','{{category.shop_offers}}','{{ tabType }}','{{ tabId }}','{{ i }}','{{absolute_url(path('i_flair_lets_bonus_front_clicks')) }}','{{category.shop_affiliate_url}}','{{user_id}}',event, '{{ category.brand_logo_popup }}', '{{ category.voucher_code }}', '{{ category.default_track_uri }}', '{{ category.voucher_program_name }}', '{{ category.discount_amount }}', '{{ category.is_percentage }}', '{{ category.voucher_expire_date }}');
                                                 dataLayerAction(1,'{{category.shop_affiliate_url}}','{{ category.discount_amount }}','{{ category.discount_amount }}','{{ category.discount_amount }}','{{ category.brand_id }}','{{ category.discount_amount }}','{{ category.brand_name|escape('js') }}','{{ category.shop_history_shop_title|escape('js') }}'); ">
                                                    Ver oferta
                                                </a>
                                            {% endif %}
                                          {% endif %}                                                    
                                         {%endif%}
                                         {%if category.shop_offers == 'cashback' or category.shop_offers == 'cashback/coupons'%}
                                            {% if category.cashbackPrice is not empty and category.cashbackPrice != '0' %}
                                              <a href="javascript:void(0);" title="Usar cupón" onclick="registerClick('{{category.shop_id}}','{{category.shop_history_id}}','{{category.shop_offers}}','{{ tabType }}','{{ tabId }}','{{ i }}','{{absolute_url(path('i_flair_lets_bonus_front_clicks')) }}','{{category.shop_affiliate_url}}','{{user_id}}',event, '{{ category.brand_logo_popup }}', '{{ category.cashbackPrice }}€', '{{category.shop_affiliate_url_origin}}', '{{category.program_id}}');
                                               dataLayerAction(1,'{{category.shop_affiliate_url}}','{{ category.discount_amount }}','{{ category.discount_amount }}','{{ category.discount_amount }}','{{ category.brand_id }}','{{ category.discount_amount }}','{{ category.brand_name|escape('js') }}','{{ category.shop_history_shop_title|escape('js') }}');
                                                " target="_blank">
                                                  Conseguir cashback
                                               </a>
                                            {% else %}
                                              <a href="javascript:void(0);" title="Usar cupón" onclick="registerClick('{{category.shop_id}}','{{category.shop_history_id}}','{{category.shop_offers}}','{{ tabType }}','{{ tabId }}','{{ i }}','{{absolute_url(path('i_flair_lets_bonus_front_clicks')) }}','{{category.shop_affiliate_url}}','{{user_id}}',event, '{{ category.brand_logo_popup }}', '{{ category.cashbackPercentage }}%', '{{category.shop_affiliate_url_origin}}', '{{category.program_id}}');
                                               dataLayerAction(1,'{{category.shop_affiliate_url}}','{{ category.discount_amount }}','{{ category.discount_amount }}','{{ category.discount_amount }}','{{ category.brand_id }}','{{ category.discount_amount }}','{{ category.brand_name|escape('js') }}','{{ category.shop_history_shop_title|escape('js') }}');
                                              " target="_blank">
                                                  Conseguir cashback
                                             </a>
                                            {% endif %}                                                 
                                         {%endif%}
                                      </div>
                                    </div>
                                  </div><!--End class category-blog-main-right-middle-->
                                                                    <div class="blog-main-right-middle-right">
                                                                        <div class="cash-back-text-promotions">
                                                                            <div class="cash-bck">
                                                                            {%if category.shop_offers == 'cashback'  or category.shop_offers == 'cashback/coupons'%}
                                                                                {% if category.slug_name is defined %}
                                                                                      <a href ="{{absolute_url(path('marcas_view', {'slug_name': category.slug_name})) }}">
                                                                                          <span>

                                                                                  {%if category.shop_offers == 'voucher'%}

                                                                                     {{ category.discount_amount }}
                                                                                     {% if category.is_percentage == 1 %}
                                                                                          %
                                                                                      {% else %}
                                                                                          €
                                                                                      {% endif %}

                                                                                  {%endif%}
                                                                                  {%if category.shop_offers == 'cashback'  or category.shop_offers == 'cashback/coupons'%}

                                                                                    {% if category.cashbackPrice is not empty and category.cashbackPrice != '0' %}
                                                                                      {{ category.cashbackPrice }}€
                                                                                    {% else %}
                                                                                      {{ category.cashbackPercentage }}%
                                                                                    {% endif %}

                                                                                  {%endif%}

                                                                                  </span>
                                                                                      </a>
                                                                                       {%else %}
                                                                                            <span>

                                                                                  {%if category.shop_offers == 'voucher'%}

                                                                                     {{ category.discount_amount }}
                                                                                     {% if category.is_percentage == 1 %}
                                                                                          %
                                                                                      {% else %}
                                                                                          €
                                                                                      {% endif %}

                                                                                  {%endif%}
                                                                                  {%if category.shop_offers == 'cashback'  or category.shop_offers == 'cashback/coupons'%}

                                                                                    {% if category.cashbackPrice is not empty and category.cashbackPrice != '0' %}
                                                                                      {{ category.cashbackPrice }}€
                                                                                    {% else %}
                                                                                      {{ category.cashbackPercentage }}%
                                                                                    {% endif %}

                                                                                  {%endif%}

                                                                                  </span>
                                                                                      {% endif %}


                                                                                <i>Cashback</i>
                                                                                {% endif %}
                                                                            </div>
                                                                        <div class="promociones">
                                                                           {% if category.voucher_code_count is defined%}
                                                                              {% if category.voucher_code_count is not empty%}

                                                                                 {% if category.slug_name is defined %}
                                                                                      <a href ="{{absolute_url(path('marcas_view', {'slug_name': category.slug_name})) }}">
                                                                                          {{category.voucher_code_count}} promociones
                                                                                      </a>
                                                                                       {%else %}
                                                                                           {{category.voucher_code_count}} promociones
                                                                                      {% endif %}


                                                                               {%endif%}
                                                                             {%endif%}
                                                                            <div class="like-share">

                                   {%if category.shop_offers == 'voucher' and category.exclusive == 1 %}

                                           <div class="conditions-ic">
                                              <!--  <div class="prod_share_icon" >
                                                <img src="{{absolute_url(asset('bundles/iflairletsbonusfront/images/share-small-ic.png'))}}" alt=""/>

                                                   <div class="share prod_share animated fadeInUp" id='fb-root'>
                                                            <a href="https://twitter.com/share" class="twitter-share-button"

                                                           data-text="{{category.shop_history_shop_title}}"
                                                           data-url="{{ absolute_url('store') }}/{{category.shop_id}}"
                                                           data-lang="en">Twitter</a>

                                                             <img class="fb_share" id="category_page_{{ category.voucher_id }}_{{ category.shop_id }}" src = "{{absolute_url(asset('bundles/iflairletsbonusfront/images/facebook-share.png'))}}"/>

                                                                <a href="https://plus.google.com/share?url={{ app.request.getSchemeAndHttpHost() }}" class="socialite googleplus-one google_share" data-size="tall" data-text="{{category.shop_history_shop_title}}"  data-href="{{ app.request.getSchemeAndHttpHost() }}" rel="nofollow" target="_blank"><span class="vhidden">Share on Google+</span></a>
                                                               <div class="clearb"></div>
                                                    </div>
                                                  </div> -->


                                                  <a href="javascript:void(0);" class="prod_like_icon" id="category_page_add_to_fev_{{ category.voucher_id }}_{{ category.shop_id }}">

                                                      {% if category.shop_id in addtofevlist  %}
                                                         <img src="{{absolute_url(asset('bundles/iflairletsbonusfront/images/heart-grey-ic.png'))}}" alt=""  id="category_add_to_fev_{{ category.voucher_id }}_{{ category.shop_id }}" style="display:none;">
                                                          <img src="{{absolute_url(asset('bundles/iflairletsbonusfront/images/heart-hover-ic.png'))}}" alt="" id="category_add_to_fev_selected_{{ category.voucher_id }}_{{ category.shop_id }}" >
                                                      {% else %}
                                                           <img src="{{absolute_url(asset('bundles/iflairletsbonusfront/images/heart-grey-ic.png'))}}" alt=""  id="category_add_to_fev_{{ category.voucher_id }}_{{ category.shop_id }}">
                                                            <img src="{{absolute_url(asset('bundles/iflairletsbonusfront/images/heart-hover-ic.png'))}}" alt="" id="category_add_to_fev_selected_{{ category.voucher_id }}_{{ category.shop_id }}" style="display:none;">
                                                      {% endif %}

                                                  </a>

                                              </div>
                                               <script type="text/javascript">
                                                             $(document).ready(function(){

                                                                $("#category_add_to_fev_{{ category.voucher_id }}_{{ category.shop_id }}").click(function(){

                                                                        {% if user_id is null %}
                                                                              $("#gotostore_login").show();

                                                                        {% else %}
                                                                            {% if category.shop_history_id  is defined %}
                                                                              {% if category.shop_history_id  is not empty %}
                                                                              $("#category_add_to_fev_{{ category.voucher_id }}_{{ category.shop_id }}").hide();
                                                                              $("#category_add_to_fev_selected_{{ category.voucher_id }}_{{ category.shop_id }}").css("display","block" );
                                                                              $.ajax({
                                                                                        type:"POST",
                                                                                        data:{shop_history_id: {{ category.shop_history_id }}},
                                                                                        dataType: "text",
                                                                                        url: '/addtofev/{{ category.shop_id }}',
                                                                                     });
                                                                               {% endif %}
                                                                              {% endif %}
                                                                        {% endif %}
                                                                });

                                                                $("#category_add_to_fev_selected_{{ category.voucher_id }}_{{ category.shop_id }}").click(function(){
                                                                   {% if category.shop_history_id  is defined %}
                                                                        {% if category.shop_history_id  is not empty %}
                                                                        $("#category_add_to_fev_{{ category.voucher_id }}_{{ category.shop_id }}").css("display","block" );
                                                                        $("#category_add_to_fev_selected_{{ category.voucher_id }}_{{ category.shop_id }}").css("display","none" );
                                                                         $.ajax({
                                                                                       type:"POST",
                                                                                        data:{shop_history_id: {{ category.shop_history_id }}},
                                                                                        dataType: "text",
                                                                                        url: '/removefromfev/{{ category.shop_id }}',
                                                                                     });
                                                                        {% endif %}
                                                                              {% endif %}
                                                                 });

                                                              /* $("#category_page_{{ category.voucher_id }}_{{ category.shop_id }}").click(function(e) {

                                                                  e.preventDefault();

                                                                        FB.ui(
                                                                        {
                                                                        method: 'feed',
                                                                        name: '{{category.shop_history_shop_title}}',
                                                                        link: 'http://hyperarts.com/blog',
                                                                        picture: '{{ category.shop_image }}',
                                                                        caption: '{{category.shop_history_shop_title}}',
                                                                        description: '{{category.shop_history_shop_title}}',
                                                                        message: ''
                                                                        });
                                                                });*/
                                                              });
                                                            </script>
                                        {%endif%}
                                        {%if category.shop_offers == 'cashback' or category.exclusive == 0  or category.shop_offers == 'cashback/coupons'%}

                                                   <div class="conditions-ic">
                                             <!--   <div class="prod_share_icon" >
                                                <img src="{{absolute_url(asset('bundles/iflairletsbonusfront/images/share-small-ic.png'))}}" alt=""/>

                                                   <div class="share prod_share animated fadeInUp" id='fb-root'>
                                                            <a href="https://twitter.com/share" class="twitter-share-button"

                                                           data-text="{{category.shop_history_shop_title}}"
                                                           data-url="{{ absolute_url('store') }}/{{category.shop_id}}"
                                                           data-lang="en">Twitter</a>

                                                             <img class="fb_share" id="category_page_{{ category.shop_history_id }}_{{ category.shop_id }}" src = "{{absolute_url(asset('bundles/iflairletsbonusfront/images/facebook-share.png'))}}"/>

                                                                <a href="https://plus.google.com/share?url={{ app.request.getSchemeAndHttpHost() }}" class="socialite googleplus-one google_share" data-size="tall" data-text="{{category.shop_history_shop_title}}"  data-href="{{ app.request.getSchemeAndHttpHost() }}" rel="nofollow" target="_blank"><span class="vhidden">Share on Google+</span></a>
                                                               <div class="clearb"></div>
                                                    </div>
                                                  </div> -->


                                                  <a href="javascript:void(0);" class="prod_like_icon" id="category_page_add_to_fev_{{ category.shop_history_id }}_{{ category.shop_id }}">

                                                      {% if category.shop_id in addtofevlist  %}
                                                         <img src="{{absolute_url(asset('bundles/iflairletsbonusfront/images/heart-grey-ic.png'))}}" alt=""  id="category_add_to_fev_{{ category.shop_history_id }}_{{ category.shop_id }}" style="display:none;">
                                                          <img src="{{absolute_url(asset('bundles/iflairletsbonusfront/images/heart-hover-ic.png'))}}" alt="" id="category_add_to_fev_selected_{{ category.shop_history_id }}_{{ category.shop_id }}" >
                                                      {% else %}
                                                           <img src="{{absolute_url(asset('bundles/iflairletsbonusfront/images/heart-grey-ic.png'))}}" alt=""  id="category_add_to_fev_{{ category.shop_history_id }}_{{ category.shop_id }}">
                                                            <img src="{{absolute_url(asset('bundles/iflairletsbonusfront/images/heart-hover-ic.png'))}}" alt="" id="category_add_to_fev_selected_{{ category.shop_history_id }}_{{ category.shop_id }}" style="display:none;">
                                                      {% endif %}

                                                  </a>

                                              </div>
                                               <script type="text/javascript">
                                                             $(document).ready(function(){

                                                                $("#category_add_to_fev_{{ category.shop_history_id }}_{{ category.shop_id }}").click(function(){

                                                                        {% if user_id is empty %}

                                                                              $("#gotostore_login").show();

                                                                        {% else %}
                                                                        //alert("hi");
                                                                           $("#category_add_to_fev_{{ category.shop_history_id }}_{{ category.shop_id }}").hide();
                                                                              $("#category_add_to_fev_selected_{{ category.shop_history_id }}_{{ category.shop_id }}").css("display","block" );
                                                                              $.ajax({
                                                                                        type:"POST",
                                                                                        data:{shop_history_id: {{ category.shop_history_id }}},
                                                                                        dataType: "text",
                                                                                        url: '/addtofev/{{ category.shop_id }}',
                                                                                     });

                                                                        {% endif %}
                                                                });

                                                                $("#category_add_to_fev_selected_{{ category.shop_history_id }}_{{ category.shop_id }}").click(function(){
                                                                        $("#category_add_to_fev_{{ category.shop_history_id }}_{{ category.shop_id }}").css("display","block" );
                                                                        $("#category_add_to_fev_selected_{{ category.shop_history_id }}_{{ category.shop_id }}").css("display","none" );
                                                                         $.ajax({
                                                                                       type:"POST",
                                                                                        data:{shop_history_id: {{ category.shop_history_id }}},
                                                                                        dataType: "text",
                                                                                        url: '/removefromfev/{{ category.shop_id }}',
                                                                                     });

                                                                 });

                                                            /*   $("#category_page_{{ category.shop_history_id }}_{{ category.shop_id }}").click(function(e) {

                                                                  e.preventDefault();

                                                                        FB.ui(
                                                                        {
                                                                        method: 'feed',
                                                                        name: '{{category.shop_history_shop_title}}',
                                                                        link: 'http://hyperarts.com/blog',
                                                                        picture: '{{ category.shop_image }}',
                                                                        caption: '{{category.shop_history_shop_title}}',
                                                                        description: '{{category.shop_history_shop_title}}',
                                                                        message: ''
                                                                        });
                                                                });*/
                                                              });
                                                            </script>

                                        {%endif%}

                                                                            </div>
                                                                        </div>
                                                                        </div>
                                                                    </div>
                                                              </div>
                                              </div>

                                            {% if productsectionCounter == 1 %}

                                               {% set counter = counter+1 %}
                                            {% else %}
                                                 {% set counter1 = counter1+1 %}

                                            {% endif %}



                                               {% set i = i+1 %}
                                        {% endfor %}
                                {% if shopSectionDivCreated == "true" %}
                              </div>
                                {%else%}
                            NO record found
                            {% endif %}
                            {% endif %}
                        </div>
                          {#{% if category_detail is not empty%}#}
                          {% if remove_load_more == 0 %}
                           <div class="category-view-more-btn" id="category_view_more1" onclick="front.category.loadMoreCat({{ target_count }},'{{currentPath}}')">
                              <a href="javascript:void(0);" title="Ver más">
                              Ver más
                             </a>
                            </div>
                          {% endif %}
                        </div> <!-- End of Class category-rightbar-bottom-->
                      </div> <!-- End of Class category_data_ajax-->
                 </div>

                    </div>
               </div>
          </div>
     </div>
</div>

{% endblock %}
