<style>
.rating-box {
	background: rgba(0, 0, 0, 0) url("{{absolute_url(asset('bundles/iflairletsbonusfront/images/product_rating_blank_star.gif'))}}") repeat-x scroll 0 0;
	float: left;
	height: 16px;
	margin: 0 5px 3px 0;
	position: relative;
	width: 60px;
}
.rating-box .rating {
	background: rgba(0, 0, 0, 0) url("{{absolute_url(asset('bundles/iflairletsbonusfront/images/product_rating_full_star.gif'))}}") repeat-x scroll 0 0;
	height: 16px;
	left: 0;
	position: absolute;
	top: 0;
}
</style>
<input type="hidden" id="product_section_counter" value="1" />
{% set user_id = app.session.get('user_id') %}   
{% set sectionGroupItems      = 6 %}
{% set shopSectionDivCreated  = "false" %}
{% set productsectionCounter     = 0 %}
{% set counter                = 0 %}
{% set tabType = constant('iFlair\\LetsBonusFrontBundle\\Entity\\Constants::BEST_CUPONES_TAB_TYPE') %}
{% set tabId = constant('iFlair\\LetsBonusFrontBundle\\Entity\\Constants::BEST_CUPONES_TAB_id') %}
{% set tabPosition = constant('iFlair\\LetsBonusFrontBundle\\Entity\\Constants::BEST_CUPONES_TAB_POSITION') %}
  {% set i = 1%}
<div class="offer-box-main" >
	{% if bestprodctcollection is defined %}
		{% if bestprodctcollection is not empty %}
			{% for best_product in bestprodctcollection %}  
				{% if counter%sectionGroupItems == 0 and shopSectionDivCreated == "true" %}
					{% set shopSectionDivCreated = "false" %}
					</div>
				{% endif %}
				{% if counter%sectionGroupItems == 0 and shopSectionDivCreated == "false" %}
					{% set productsectionCounter = productsectionCounter+1 %}
					{% set shopSectionDivCreated = "true" %}
					<div style="display:none;" id="bestcoupons_section_{{ productsectionCounter }}">
				{% endif %}
				<div class="offer-box-link">
					<div class="offer-box">
						<div class="store-title">
							<h4>
								{% if best_product.brand_name is not empty %}
                                    {{best_product.brand_name}}
                                {% endif %}								
							</h4>							
						</div>
						<div class="store-img">
							 {% if best_product.slug_name is defined %}
							  <a href ="{{absolute_url(path('marcas_view', {'slug_name': best_product.slug_name})) }}">
							<img src="{{ best_product.image }}" alt="">
							</a>
							{%else %}
                                        <img src="{{ best_product.image }}" alt="">
                            {% endif %}
						</div>
						{% if best_product.cashback_type_value is defined%}
                            {% if best_product.cashback_type_value is not empty%}
                             	<span class="exe">{{ best_product.cashback_type_value }}</span>
                             {% else %}
                             	<span class="no-exe">&nbsp;</span>
                            {%endif%}
                        {% else %}
                        	<span class="no-exe">&nbsp;</span>
                        {%endif%}
						<div class="store-title-bottom">
							<div class="store-prod_desc">
								{% if best_product.short_description is not empty %}
									{% if best_product.short_description|length > 65 %}
										{% autoescape %}
											{{ best_product.short_description|striptags|truncate(65, true, "...")|raw }}
										{% endautoescape %}
									{% else %}
										{% autoescape %}
											{{ best_product.short_description|striptags|raw  }}
										{% endautoescape %}
									{% endif %}
								{% endif %}							
							</div>
							<div class="store-title-ic">
								<div class="levis-ic">
								
									 {% if best_product.slug_name is defined %}
                                    	<a href ="{{absolute_url(path('marcas_view', {'slug_name': best_product.slug_name})) }}">
											<img src="{{ best_product.brand_logo }}" alt="" width="80px">
										</a>
									   {%else %}
                                        	<img src="{{ best_product.brand_logo }}" alt="" width="80px">
                                      {% endif %}

								</div>
								<p>
									{% if best_product.slug_name is defined %}
										<a href ="{{absolute_url(path('marcas_view', {'slug_name': best_product.slug_name})) }}">
									{% endif %}
									<span>
										Cupón</br>descuento
									</span>										
									<div class="cupon-time">
										{% if best_product.voucher_expire_date is not empty%}
                                          <img alt="" src="{{absolute_url(asset('bundles/iflairletsbonusfront/images/time-ic.jpg'))}}">
                                          <span>{% if best_product.voucher_expire_date is not empty%}Válido hasta {{ best_product.voucher_expire_date }}{% else %}&nbsp;{% endif %}</span>          
                                        {% endif %}
                                    </div>                                    
                                    {% if best_product.slug_name is defined %}
                                    	</a>
									{% endif %}									
								</p>
							</div>
							<span class="save-wing go_to_store_up">
								{%if best_product.voucher_code is defined %}
									{%if best_product.voucher_code is not empty %}
										<a href="javascript:void(0);" title="Usar cupón" onclick="cuponGenerate('{{best_product.shop_id}}','{{best_product.shop_history_id}}','{{best_product.shop_offers}}','{{ tabType }}','{{ tabId }}','{{ i }}','{{absolute_url(path('i_flair_lets_bonus_front_clicks')) }}','{{best_product.shop_affiliate_url}}','{{user_id}}',event, '{{ best_product.brand_logo_popup }}', '{{ best_product.voucher_code }}', '{{ best_product.default_track_uri }}', '{{ best_product.voucher_program_name }}', '{{ best_product.discount_amount }}', '{{ best_product.is_percentage }}', '{{ best_product.voucher_expire_date }}', '{{ best_product.voucher_name }}');
										 dataLayerAction(1,'{{best_product.shop_affiliate_url}}','{{ best_product.discount_amount }}','{{ best_product.discount_amount }}','{{ best_product.discount_amount }}','{{ best_product.brand_id }}','{{ best_product.discount_amount }}','{{ best_product.brand_name|escape('js') }}','{{ best_product.title|escape('js') }}');
										">
									{% else %}
										<a href="javascript:void(0);" title="Usar cupón" onclick="offerGenerate('{{best_product.shop_id}}','{{best_product.shop_history_id}}','{{best_product.shop_offers}}','{{ tabType }}','{{ tabId }}','{{ i }}','{{absolute_url(path('i_flair_lets_bonus_front_clicks')) }}','{{best_product.shop_affiliate_url}}','{{user_id}}',event, '{{ best_product.brand_logo_popup }}', '{{ best_product.voucher_code }}', '{{ best_product.default_track_uri }}', '{{ best_product.voucher_program_name }}', '{{ best_product.discount_amount }}', '{{ best_product.is_percentage }}', '{{ best_product.voucher_expire_date }}', '{{ best_product.voucher_name }}');
										 dataLayerAction(1,'{{best_product.shop_affiliate_url}}','{{ best_product.discount_amount }}','{{ best_product.discount_amount }}','{{ best_product.discount_amount }}','{{ best_product.brand_id }}','{{ best_product.discount_amount }}','{{ best_product.brand_name|escape('js') }}','{{ best_product.title|escape('js') }}'); ">
									{% endif %}
								{%endif%}
									Usar cupón
								</a>
							</span>
							<div class="conditions-txt">
								<span>
									Condiciones
									<div class="offer-box-hover homepage_condition animated fadeInUp">										
										<div class="cashback-condition">
											<h4>Condiciones:</h4>
											 {% autoescape %}
                                                {{ best_product.description|raw  }}
                                              {% endautoescape %}
										</div>
										<div class="cashback-condition-arrow">
											<img src="{{absolute_url(asset('bundles/iflairletsbonusfront/images/condition-downarrw.png'))}}" alt="">
										</div>
									</div>
								</span>
							
								 {% if best_product.slug_name is defined %}
									<a href="{{absolute_url(path('marcas_view', {'slug_name': best_product.slug_name})) }}" class="cupones" title="6 cupones">{{ best_product.voucher_code_count }} cupones</a>
									{%else %}
		                              <a class="cupones" title="6 cupones">{{ best_product.voucher_code_count }} cupones</a>
		                            {% endif %}
								<div class="conditions-ic">									
									<a href="javascript:void(0);" class="prod_like_icon" id="best_coupons_a_add_to_fev_{{ best_product.shop_id }}"> 
										{% if best_product.shop_id in addtofevlist  %}
											<img src="{{absolute_url(asset('bundles/iflairletsbonusfront/images/heart-grey-ic.png'))}}" alt=""  id="best_coupons_add_to_fev_{{ best_product.shop_id }}" style="display:none;">
											<img src="{{absolute_url(asset('bundles/iflairletsbonusfront/images/heart-hover-ic.png'))}}" alt="" id="best_coupons_add_to_fev_selected_{{ best_product.shop_id }}" >
										{% else %}
											<img src="{{absolute_url(asset('bundles/iflairletsbonusfront/images/heart-grey-ic.png'))}}" alt=""  id="best_coupons_add_to_fev_{{ best_product.shop_id }}">
											<img src="{{absolute_url(asset('bundles/iflairletsbonusfront/images/heart-hover-ic.png'))}}" alt="" id="best_coupons_add_to_fev_selected_{{ best_product.shop_id }}" style="display:none;">
										{% endif %}
									</a>
								</div>
								<script type="text/javascript">
									$(document).ready(function(){
										$("#best_coupons_add_to_fev_{{ best_product.shop_id }}").click(function(){
											{% if user_id is null %}
												$("#gotostore_login").show();
											{% else %}
												{% if best_product.shop_history_id  is defined %}
													{% if best_product.shop_history_id  is not empty %}
														$("#best_coupons_add_to_fev_{{ best_product.shop_id }}").hide();
														$("#best_coupons_add_to_fev_selected_{{ best_product.shop_id }}").css("display","block" );
														$.ajax({
															type:"POST",
															data:{shop_history_id: {{ best_product.shop_history_id }}},
															dataType: "text",
															url: 'addtofev/{{ best_product.shop_id }}',
														});
													{% endif %}
												{% endif %}       
											{% endif %}
										});
										$("#best_coupons_add_to_fev_selected_{{ best_product.shop_id }}").click(function(){
											{% if best_product.shop_history_id  is defined %}
												{% if best_product.shop_history_id  is not empty %}
													$("#best_coupons_add_to_fev_{{ best_product.shop_id }}").css("display","block" );
													$("#best_coupons_add_to_fev_selected_{{ best_product.shop_id }}").css("display","none" );
													$.ajax({
														type:"POST",
														data:{shop_history_id: {{ best_product.shop_history_id }}},
														dataType: "text",
														url: 'removefromfev/{{ best_product.shop_id }}',
													});
												{% endif %}
											{% endif %}   
										});										
									});
								</script>
							</div> {# div conditions-txt #}
						</div> {# div store-title-bottom #}
					</div> {# div offer-box #}
				</div>{# div offer-box-link #}
				{% set counter = counter+1 %}
				   {% set i = i+1 %}
			{% endfor %}
		{% endif %}
	{% endif %}
	{% if shopSectionDivCreated == "true" %}
		</div>
	{% endif %}
	
		<div id="bestcoupons_view_more" class="show-more">
			<a href="{{absolute_url(path('i_flair_lets_bonus_front_brand_cupones'))}}" title="Ver más">Ver más</a>
		</div>

</div>