{% set queryParams = app.request.attributes.get('name') %}

<form class="review-form" method="post" action="{{queryParams }}" style="">
Hello {{queryParams }}; 
</br>
Please give your review:
</br>
				{{ form_label(form.email) }}:{{ form_widget(form.email) }}</br>
				{{ form_label(form.review) }}:</br>{{ form_widget(form.review) }}</br>
				{{ form_label(form.rating) }}:{{ form_widget(form.rating) }}</br>
					<input type="submit" value="Review" name="review_submit">
				</form>