{% extends '::base.html.twig' %}
{% block page_title %}
    - {{ careers.title }}
{% endblock %}
{% block content -%}
    <div class="container breadcrumb">
		<div class="row">
			<ul>
				<li><a title="Home" href="{{ url('i_flair_lets_bonus_front_homepage') }}">Home</a></li>
				<li class="active">{{ careers.title }}</li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="ayuda_full">
				<div class="about-title ayuda_title">
					<h1>{{ careers.title }}</h1>
				</div>
				<div class="about-content ayuda_wrapp">
					{# Below "| raw" is used for getting ckeditor value  #}
					{{ careers.description | raw }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
